/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-buttonset .p-button{
  font-weight: 100;
  padding: 0.1em 0.1em;
  margin: 0.4em;
  border-radius: 0.3em;
  color:rgb(46, 46, 46);
  border-width: 0px;
  border-style: solid;
  border-color:gray;
  box-shadow: 0 0 0 2px #ffffff,
  0 0 0 4px #2ea7c5,
  0 1px 2px 0 rgb(14, 63, 75);
}

.p-tooltip{
  font-size: small;
}

.p-selectbutton .p-button.p-highlight {
  box-shadow: 0 0 0 3px #313131,
  0 0 0 4px #313131,
  0 1px 2px 0 rgb(215, 227, 230);
}

.p-button:focus{
  box-shadow: 0 0 0 3px #313131,
  0 0 0 4px #313131,
  0 1px 2px 0 rgb(215, 227, 230);
}

.p-button:active{
  box-shadow: 0 0 0 3px #313131,
  0 0 0 4px #313131,
  0 1px 2px 0 rgb(215, 227, 230);
}

.class-select{
  padding: 0.2em 0.4em;
  font-family: sans-serif;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.p-listbox .p-listbox-list .p-listbox-item {
  padding: 0.5rem 0.7rem;
}

.p-listbox .p-listbox-header{
  padding: 0.7rem 0.7rem;
}

 .p-buttonset .p-button:first-of-type
{
  background-color: #71E5EB;
}

.p-buttonset .p-button:nth-of-type(2)
{
  background-color: #FFF463;
}

.p-buttonset .p-button:nth-of-type(3)
{
  background-color: #EFB0EF;
}

.p-buttonset .p-button:nth-of-type(4)
{
  background-color: #37DFAE;
}

.p-buttonset .p-button:nth-of-type(5)
{
  background-color: #FD5A56;
}

.p-buttonset .p-button:nth-of-type(6)
{
  background-color: #7CEB89;
}

.p-buttonset .p-button:nth-of-type(7)
{
  background-color: #FDC453;
}

.p-buttonset .p-button:nth-of-type(8)
{
  background-color: #B9C0FF;
}

.p-buttonset .p-button:nth-of-type(9)
{
  background-color: #9edfdc;
}


